NODE_ENV=development
PORT=8000

# PostgreSQL database URL
DATABASE_URL="postgres://postgres:postgres@localhost:5432/greedy_platform"

# Redis URL
REDIS_URL="redis://localhost:6379/0"

# CORS Origin
CORS_ORIGIN=http://localhost:3000

# Admin Seed Email
ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PASSWORD=AdminPassword123

# Allow Dev Identity Header
ALLOW_DEV_IDENTITY_HEADER=true

# Worker Instance ID
WORKER_INSTANCE_ID=greedy-api-local

# Worker Poll MS
GREEDY_WORKER_POLL_MS=200

# Outbox Poll MS
OUTBOX_POLL_MS=150

# Cloudflare R2
CLOUDFLARE_R2_ACCOUNT_ID=c41589f6002adc9332f1b5b50ebba7f6
CLOUDFLARE_R2_ACCESS_KEY_ID=6db5ffc92afcac67ed5b1f0bdf6e0bd7
CLOUDFLARE_R2_SECRET_ACCESS_KEY=f271f5e9ff59285a553f68865f9c5fe2ba514758b06920067e2bea46b071117d
CLOUDFLARE_R2_BUCKET_NAME=game-platform
CLOUDFLARE_R2_PUBLIC_URL="https://pub-5b503892a7a54589b6fd0926ded6c2f7.r2.dev"
